<div *ngFor="let activity of activities" class="container">
  <button class="edit" *ngIf="isLogged" (click)="onEdit(activity)">edit</button>
  <span class="details">
    {{ activity.date | date }} |
    {{ activity.type }} |
    {{ activity.duration }} |
    {{ activity.notes }} |
    <span [ngStyle]="{'background': activity.feelingColor}">{{ activity.feeling }}</span> |
    <a href="{{ activity.link }}">{{ activity.link }}</a>
  </span>
  <button class="del" *ngIf="isLogged" (click)="onDelete(activity)">x</button>
</div>
